<a href="https://colab.research.google.com/github/VU21CSEN0100410/DEEPIKA/blob/main/python_0410.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## AVERAGE OF THREE NUMBERS

In [ ]:
a=10
b=20
c=30
average=(a+b+c)/3
print(average)
print(type(average))

20.0
<class 'float'>

## multiplication of three numbers

In [ ]:
a=10
b=20
c=30
multi=(a*b*c)
print(multi)
print(type(multi))

6000
<class 'int'>

## dynamic addition

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
add=(a+b)
print(add)
print(type)

enter a number:20
enter a number:10
30
<class 'type'>

##  dynamic multiplication

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
C=(a*b)
print(C)
print(type)

enter a number:10
enter a number:20
200
<class 'type'>

## CONVERSION
## convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))

<class 'int'>
<class 'float'>

## convert float to int

In [ ]:
a=20.2
b=int(a)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'int'>
20

## convert float to string

In [ ]:
a=10.8
b=str(b)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'str'>
20

## convert string to int (not possible if values given in alphabets)

In [ ]:
a="9"
b=int(a)
print(type(a))
print(type(b))
print(b)

<class 'str'>
<class 'int'>
9

## convert int to string

In [ ]:
a=30
b=str(a)
print(type(a))
print(type(b))
print(b)

<class 'int'>
<class 'str'>
30

## BOOLEAN

In [ ]:
a=1
b=0
c=a>b
print(c)
print(type(c))

True
<class 'bool'>

##  boolean into int

In [ ]:
a=bool(10)
print(type(a))
print(bool(a))
b=int(10)
print(type(b))
print(bool(b))

<class 'bool'>
True
<class 'int'>
True

## boolean into float

In [ ]:
a=bool(10)
print(type(a))
print(bool(a))
b=float(0)
print(type(b))
print(bool(b))

<class 'bool'>
True
<class 'float'>
False

## boolean to string

In [ ]:
a=bool(1)
print(type(a))
print(bool(a))
b=str("1")
print(type(b))
print(bool(b))

<class 'bool'>
True
<class 'str'>
True